@import url(https://fonts.googleapis.com/css?family=Raleway:200);
body {
  /*background: linear-gradient(to left, #BBDEFB, #E8EAF6);*/
  background-color: #BBDEFB;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 1.5rem;
}

.cover {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 80vh;
  max-height: 500px;
  background: #eee;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 15px 12px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  margin-top: 200px;
}

@media (max-width:900px) {
  .cover{
    height: 64vh;
  }
}
#box1,
#box2,
#box3 {
  float: left;
  width: 33.33%;
  height: 100%;
}

#box1 {
  background: #431A63;
}

#box2 {
  background: #c129e3;
}

#box3 {
  background: rgb(47, 138, 198);
}

h2 {
  font-size: 1.7vw;
  text-align: left;
  margin: 3vw;
  font-weight: thin;
  margin-top: 10%;
  margin-bottom: 20%;
  line-height: 2vw;
}

p {
  letter-spacing: 0.8px;
  font-size: 0.85vw;
  font-weight: thin;
  margin: 12%;
  line-height: 1.2vw;
}

#icon {
  width: 50%;
  border-radius: 50%;
  margin: 20%;
  overflow: hidden;
  text-align: center;
}

#box1 #icon {
  background:white;
}

#box2 #icon {
  background: #6700FF;
}

#box3 #icon {
  background: #FF5A6D;
}

img {
  position: relative;
  width: 80%;
  margin-top: 10%;
}

#box2 img {
  transform: translateY(3px);
}


header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 99;
}
.page{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 3em;
    font-weight: bold;
    color:black;
    user-select: none;
    margin-top: 60px;
}
.spark{
    color:#f6f618;
}
.nav{
  margin-top: -100px;
  margin-bottom: 100px;
  margin-right: 0px;
  margin-left: 450px;
}
.nav a{
    position: relative;
    font-size: 1.5em;
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    font-size: solid;
}
.nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom:-6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.nav a:hover:after{
  transform-origin: left;
 transform:scaleX(1)
}